<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Whatsapp Regressions" parallel="tests" verbose="1">
	<test name="Regressions">
		<parameter name="Users" value="MotoG" />
		<packages>
			<package name="com.whatsapptest.base.*"/>
		</packages>
	</test>
</suite>